@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "custom-styles/variables";

.camelize-wrapper {
  @include media-breakpoint-only(xs) {
    padding: map_get($spacers, 4);
  }
  @include media-breakpoint-only(sm) {
    padding: map_get($spacers, 5);
  }

  .form-wrapper {
    max-width: $content-wrapper-xs-size;

    @include media-breakpoint-only(xs) {
      max-width: $content-wrapper-xs-size;
    }
    @include media-breakpoint-only(sm) {
      max-width: $content-wrapper-sm-size;
    }
    @include media-breakpoint-only(md) {
      max-width: $content-wrapper-md-size;
    }
    @include media-breakpoint-only(lg) {
      max-width: $content-wrapper-lg-size;
    }
    @include media-breakpoint-only(xl) {
      max-width: $content-wrapper-xl-size;
    }
  }
  .description-wrapper {
    max-width: $content-wrapper-xs-size;

    @include media-breakpoint-only(xs) {
      margin-top: map_get($spacers, 3);
      max-width: $content-wrapper-xs-size;
    }
    @include media-breakpoint-only(sm) {
      margin-top: map_get($spacers, 4);
      max-width: $content-wrapper-sm-size;
    }
    @include media-breakpoint-only(md) {
      margin-top: map_get($spacers, 4);
      max-width: $content-wrapper-md-size;
    }
    @include media-breakpoint-only(lg) {
      margin-top: map_get($spacers, 4);
      max-width: $content-wrapper-lg-size;
    }
    @include media-breakpoint-only(xl) {
      margin-top: map_get($spacers, 4);
      max-width: $content-wrapper-xl-size;
    }
  }
  .title {
    font-size: 40px;
    font-family: "Merienda One", cursive;
    color: $russet;
  }
  .subtitle {
    font-size: 28px;
    font-family: "Rokkitt", serif;
    color: $vegetalio-light;
    opacity: 0.6;
  }
  .help-text {
    font-size: 14px;
    font-family: "Rokkitt", serif;
    color: $vegetalio-light;
    opacity: 0.4;
  }
  .search-input {
    font-size: 24px;
    font-family: "Quicksand", Consolas, sans-serif;
    border-radius: 24px;
    transition: box-shadow ease-in-out 200ms;
  }

  .how-to-camelize {
    @include media-breakpoint-only(xs) {
      font-size: $font-size-base * 1;
    }
    @include media-breakpoint-only(sm) {
      font-size: $font-size-base * 1.5;
    }
  }
  .camel-display {
    @include media-breakpoint-only(xs) {
      font-size: $font-size-base * 1.75;
    }
    @include media-breakpoint-only(sm) {
      font-size: $font-size-base * 1.5;
    }
  }
}
